<header>
<h1>Pomodoro!</h1>
</header>

<br><br>

<main>
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue darken-1">
            <div class="card-content white-text">
              <span class="card-title" id="time"></span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a id="start-button" class="deep-orange waves-effect waves-light btn">Start</a>
              <a id="restart-button" class="deep-orange waves-effect waves-light btn">Restart</a>
            </div>
          </div>
        </div>
      </div>
</main>


<footer class="page-footer white">

</footer>

<script src="/js/init.js"></script>
>
